
.movieTitle {
    float: left;
    margin-right: 16px;
}

.addMovie {
    padding-top: 20px;
}

.buttonClass {
    border-radius: 5px;
}

.hidden {
    display: none !important;
}

.dialogMsg {
    padding: 9px 0 19px 7px;
    font-weight: bold;
}

.searchMovie {
    clear: both;
    padding: 13px 0 12px 0;
}

.orderLink {
    cursor: pointer;
}